<html ng-app="WatcherApp">
  <head>
    <meta charset="utf-8"/>
    <title>Lecture 14</title>
    <script src="../js/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <h1>Show watchers</h1>
    <div ng-controller="WatcherController">

      <div>
        <button ng-click="showWatchers()">Show Wathcers</button>
        <br>
        <button ng-click="countOne()">Count one</button>
        <br>
        <button ng-click="countMany()">Count many</button>
        <br>
      </div>
    </div>
  </body>
</html>
